[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[dependencies]
agent = { path = "../agent" }
common = { path = "../common" }
tokio = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

